.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px powderblue;
}
.note
{
    font-size: 17px;
    color: red;
}
.copy_right_footer
{
    position: fixed;
    color :purple;
    bottom: 0px;
    width: 100%;
    background-color:lightpink;
    line-height: 3;
    text-align: center;
}
canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px yellowgreen;
}